
[V200R003C00]
#
 sysname R7
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
ipv6 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2001  
 rule 5 permit source 0.0.0.0 255.255.254.255 
acl number 2002  
 rule 5 permit source 0.0.1.0 255.255.254.255 
acl number 2003  
 rule 5 permit source 192.168.66.0 0.0.0.255 
acl number 2004  
 rule 5 permit source 192.168.55.0 0.0.0.255 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ipv6 enable 
 ip address 192.168.17.7 255.255.255.0 
 ipv6 address 2000:BD8:0:17::7/64 
#
interface GigabitEthernet0/0/1
 ip address 192.168.27.7 255.255.255.0 
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ipv6 enable 
 ip address 172.16.1.7 255.255.255.255 
 ipv6 address 2000:BD8:0:1::7/128 
#
interface LoopBack1
 ip address 10.10.1.1 255.255.255.0 
#
interface LoopBack2
 ip address 10.10.2.1 255.255.255.0 
#
interface LoopBack3
 ip address 10.10.3.1 255.255.255.0 
#
interface LoopBack4
 ip address 10.10.4.1 255.255.255.0 
#
interface LoopBack5
 ip address 195.1.1.1 255.255.255.0 
#
interface LoopBack6
 ip address 200.0.0.1 255.255.255.0 
#
bgp 1
 router-id 172.16.1.7
 peer 172.16.1.1 as-number 2 
 peer 172.16.1.1 ebgp-max-hop 2 
 peer 172.16.1.1 connect-interface LoopBack0
 peer 172.16.1.2 as-number 2 
 peer 172.16.1.2 ebgp-max-hop 2 
 peer 172.16.1.2 connect-interface LoopBack0
 peer 2000:BD8:0:17::1 as-number 2 
 #
 ipv4-family unicast
  undo synchronization
  network 10.10.1.0 255.255.255.0 
  network 10.10.2.0 255.255.255.0 
  peer 172.16.1.1 enable
  peer 172.16.1.1 route-policy Pref6 import
  peer 172.16.1.1 route-policy Pref4 export
  peer 172.16.1.2 enable
  peer 172.16.1.2 route-policy Pref7 import
  peer 172.16.1.2 route-policy Pref5 export
 #
 ipv6-family unicast
  undo synchronization
  peer 2000:BD8:0:17::1 enable
#
route-policy Pref4 permit node 10 
 if-match acl 2001 
 apply ip-address next-hop 172.16.1.1 
#
route-policy Pref4 permit node 20 
#
route-policy Pref5 permit node 10 
 if-match acl 2002 
 apply ip-address next-hop 172.16.1.2 
#
route-policy Pref5 permit node 20 
#
route-policy Pref6 deny node 10 
 if-match acl 2003 
#
route-policy Pref6 permit node 20 
#
route-policy Pref7 deny node 10 
 if-match acl 2004 
#
route-policy Pref7 permit node 20 
#
ip route-static 172.16.1.0 255.255.255.0 GigabitEthernet0/0/0 192.168.17.1
ip route-static 172.16.2.0 255.255.255.0 GigabitEthernet0/0/1 192.168.27.1
#
user-interface con 0
 authentication-mode password
 idle-timeout 10000 0
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return